/test-ledger/
recipient_keypair.json
.env
# Node modules
node_modules/
dist/


# dotenv environment variables file
.env.local
.env.development.local
.env.test.local
.env.production.local
smartWalletTelBot/bot_keypair.json

backend/dist/*
frontend/dist/*
db/dist/*
smartWalletTelBot/dist/*

